.video-bar-link:link {
	text-decoration: none;
}

.video-bar {
	border-top: 1px solid lightgray;
	background-color: orangered;
	width: 100vw;
	height: 7vh;
}

.video-bar:hover {
	background-color: #ef5015;
}

.video-bar .video-bar-arrow-left {
	height: inherit;
	position: absolute;
	left: 10vw;
	padding-top: 1vh;
	padding-bottom: .5vh;
}

.video-bar .video-bar-text {
	height: inherit;
	position: absolute;
	left: 30vw;
	bottom: 1.7%;
	width: 40vw;
	color: white;
	font-family: sans-serif;
	font-size: 7vh;
	text-align: center;
}

.video-bar .video-bar-arrow-right {
	height: inherit;
	position: absolute;
	right: 10vw;
	padding-top: 1vh;
	padding-bottom: .5vh;
}

.showcase {
	background-color: white;
	/*border: 1px solid black;*/
}

.showcase .showcase-content {
	/*border: 1px solid black;*/
	height: 44vh;
	overflow: hidden;
}

.showcase .showcase-content img {
	margin: 0vh 2vw;
	height: 44vh;
	width: 44vh;
}

.showcase .showcase-videos {
	max-height: 40vh;
}

.showcase-img {
	float: left;
}

div.events-img {
	position: absolute;
	overflow: show;
	height: 20vh;
	width: 20vh;
	left: 2.5vw;
	top: 2.5vh;
	margin: 0;
}

img.events-img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0;
	padding: 0;
}

.events-text {
	position: absolute;
	width: 20vw;
	bottom: 1vh;
	right: 1vh;
	padding: .3vh .7vw;
	color: black;
	/*background-color: rgba(0, 0, 0, .1);*/
	border-radius: 20px;
}

.events-text .btn {
	position: relative;
	right: 1vw;
	bottom: 1.5vh;
}

.diag-text {
	color: white;
	position: absolute;
	width: 30vh;
	padding: .3vh .7vw;
	right: 1vh;
	bottom: 1vh;
}

.diag-text .btn {
	position: relative;
	right: 3.5vw;
	bottom: 1.5vh;
}

.our-content-text {
	position: absolute;
	width: 25vw;
	left: 1vw;
	top: 0vh;
}

.our-content .btn {
	position: absolute;
	left: 2.5vw;
	top: 22vh;
}

div.our-content-img {
	position: absolute;
	overflow: show;
	height: 15vh;
	width: 12vh;
	bottom: 2.5vw;
	right: 2.5vh;
	margin: 0;
}

img.our-content-img {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0;
	padding: 0;
}

.info-text {
	color: white;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 20vw;
	padding: 1vh 1vw;
}

.info-sym {
	color: white;
	position: absolute;
	font-family: 'Inknut Antiqua', serif;
	background-color: orangered;
	text-align: center;
	padding: 1.5vw 0;
	width: 9vw;
	height: 9vw;
	border-radius: 100%;
	font-size: 4vw;
	left: 2vw;
	top: 2vh;
}

.info .btn {
	position: absolute;
	right: 2.5vw;
	top: 22vh;
}

.showcase-text {
	font-size: 2vw;
}